[Container]
Image=docker.io/ubuntu/bind9:9.18-22.04_beta@sha256:d31acc46a5c43c12be091ce2b49deb3a17a906cc153d9ce821966875444b9150
Name=bind
Pod=containernet
RestartPolicy=always
CreateCommand=podman create --privileged --name bind
AdditionalContainerArguments=--sysctl net.ipv4.ip_forward=1
Volume=/your/host/path/bind/cache:/var/cache/bind
Volume=/your/host/path/bind/config:/etc/bind:ro
Environment=BIND9_USER=root
Environment=TZ=Europe/London