[Unit]
Description=haproxy
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=haproxy
Environment=TZ=Europe/London
IP=10.1.0.172
Image=docker.io/library/haproxy:2.9.8@sha256:076687237643f1150908353536370fce913ba6300c51e0ccb90b59302b1f32aa
Network=containernet
Volume=./haproxy/config/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target